.dropdown-container {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 582px;
  height: 52px;
  border-radius: 10px;
  background: #ff6060;
}

.dropdown-visible {
  border-radius: 10px;
  background: #ff6060;
  width: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  border: 1px solid #ff6060;
  height: 100%;
}

.dropdownTitle {
  font-size: 18px;
  line-height: 26px;
}

.dropdown-toggle {
  height: 0px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.animated {
  opacity: 1;
  transition: height 0.3s ease-in-out opacity 0.3s 0.3s ease-in-out;
}

.toggleContent {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 40px 12px 53px 20px;
  pointer-events: none;

  background: #f6f6f6;
  color: #ff6060;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-visible svg {
  width: 20px;
  transform: rotate(-180deg);
  transition: transform 0.2s ease-in-out;
}
.dropdown-visible svg.active {
  transform: rotate(0deg);
}
