.carrousel {
  min-width: 1240px;
}

.infos {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  margin-top: 30px;
  @media screen and (max-width: 376px) {
    margin-top: 0;
  }

  .firstLigne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .accomodationTitle {
    font-size: 36px;
    line-height: 51px;
    @media screen and (max-width: 446px) {
      font-size: 18px;
    }
  }

  .hostInfos {
    display: flex;
    align-items: center;
    @media screen and (max-width: 376px) {
      display: none;
    }
  }

  .hostInfosMobile {
    display: none;
    @media screen and (max-width: 376px) {
      display: flex;
      align-items: center;
    }
  }

  .accomodationLocation {
    font-size: 18px;
    line-height: 26x;
    @media screen and (max-width: 446px) {
      font-size: 14px;
    }
  }
  .hostName {
    font-size: 18px;
    line-height: 26x;
    @media screen and (max-width: 446px) {
      font-size: 12px;
    }
  }

  .hostImg {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    @media screen and (max-width: 446px) {
      height: 32px;
      width: 32px;
    }
  }

  .secondLigne {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 665px) {
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
  }

  .tagList {
    display: flex;
    margin: 20px 0;
  }

  .tagItem {
    background: #ff6060;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px 40px;
    @media screen and (max-width: 446px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 84px;
      font-size: 10px;
    }
  }

  .rate {
    display: flex;
  }
  .emptyStar {
    font-size: 30px;
    @media screen and (max-width: 446px) {
      font-size: 15px;
    }
  }
  .fullStar {
    font-size: 30px;
    @media screen and (max-width: 446px) {
      font-size: 15px;
    }
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ff6060;
    width: 582px;
    height: 52px;
    border-radius: 10px;
  }
  .dropdownTitle {
    font-size: 18px;
    color: white;
    padding-left: 20px;
  }

  .open {
    background: #ff6060;
    color: white;
  }

  .div {
    display: flex;
    flex-direction: column;
  }
  .content {
    background: #f6f6f6;
  }
}
