.homeContent {
  .backgroundOpacity {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
  }

  .backgroundOpacity h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
    @media screen and (max-width: 630px) {
      font-size: 24px;
    }
    @media screen and (max-width: 375px) {
      padding: 30px 102px 30px 16px;
    }
  }

  .backgroundOpacity::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(75%);
    background-image: url(../../assets/images/backgroundHomeContent.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .bg-gray {
    background: #f6f6f6;
    border-radius: 20px;
  }

  .accomodations {
    background: #f6f6f6;
    margin-top: 50px;
    border-radius: 20px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
  }

  @media screen and (max-width: 940px) {
    .accomodations {
      background: #fff;
      padding: 50px 10px;
      gap: 20px;
      margin-top: 0px;
    }
  }
}
